{% extends 'base.html' %}

{% block title %}发布公益活动{% endblock %}

{% block content %}
<p> {{ user.email }} </p>

<link href="/css/create/bootstrap.css" rel="stylesheet" type="text/css" /> 
<link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" /> 
<link href="/css/jasny-bootstrap.css" rel="stylesheet" type="text/css" /> 
<link href="/css/create.css" rel="stylesheet" type="text/css" /> 


<div id="create_main">
    <div id="create_first">
        <h1>发起活动<h1>
    </div>
    <div id="create_second">
        <form class="form-inline" enctype="multipart/form-data" method="post" action="/service/create">
            {% csrf_token %}
            <div>
                <div class="form-attr form-group">
                    <label for="name">活动名称</label>
                    <input class="font" type="text" name="name"/>
                </div>
                <div class="form-attr form-group">
                    <label for="location">活动地点</label>
                    <input class="font form-control" type="text" name="location"/>
                </div>
                <div class="form-attr form-group">
                    <label for="host">举办方</label>
                    <input class="font form-control" type="text" name="host"/>
                </div>
                <div class="form-attr form-group">
                    <label for="starttime">开始时间</label>
                    <input class="inputTime font form-control" type="text" name="start_time"/>
                </div>
                <div class="form-attr form-group">
                    <label for="deadline">截止时间</label>
                    <input class="inputTime font form-control" type="text" name="deadline"/>
                </div>
                <div class="form-attr form-group">
                    <label for="tags">活动标签</label>
                    <input id="inputTags" name="tags" class="font form-control" type="text" value="" data-role="tagsinput"/> 
                    <br />
                    <label></label>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">支教</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">献血</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">体育</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">学术</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">音乐</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">环保</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">敬老</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">宣传</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">募捐</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">慈善</button>
                    <button type="button" class="tagbtn btn-addTag btn btn-default">孤儿院</button>
                </div>
                <div class="form-attr form-group">
                    <label class="activity_1" for="introduction">活动介绍</label>
                    <textarea id="inputHost" name="introduction" required="true" class="font form-control"></textarea>
                </div>
                <div class="form-attr form-group">
                    <label class="activity_1" for="picture">活动海报</label>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="font fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                        <div>
                            <span class="btn btn-default btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="post">
                            </span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button btn btn-default" id="submit" type="submit">提交</button>
        </form>
        </div>
        <br />
    </div>
<script src="/js/jquery-2.0.0.js"></script>
<script src="/js/create/bootstrap.js"></script>
<script src="/js/create.js"></script>
<script src="/js/bootstrap-tagsinput.js"></script>
<script src="/js/layout.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/jasny-bootstrap.js"></script>

{% endblock %}
