{% extends 'base.html' %}

{% block title %}活动详情{% endblock %}

{% block content %}

<link href="/css/home/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/home/home.css">

<div id="home_wrap_2">

  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item">
        <img src="/img/home/slide1.jpg">
        <div class="carousel-caption">
          <h4>为爱奔跑</h4>
        </div>
      </div>
      <div class="item active">
        <img src="/img/home/slide2.jpg">
        <div class="carousel-caption">
          <h4>来献血吧</h4>
        </div>
      </div>
      <div class="item">
        <img src="/img/home/slide3.jpg">
        <div class="carousel-caption">
          <h4>关爱聋哑儿童</h4>
        </div>
      </div>
    </div>
    <a href="http://localhost:8888/home#myCarousel" data-slide="prev" class="carousel-control left"></a>
    <a href="http://localhost:8888/home#myCarousel" data-slide="next" class="carousel-control right"></a>
  </div>

  <div id="act_area">

    <ul id="myTab" class="nav nav-tabs">
      <li data-id="future" class="timing active"><a href="#future" data-toggle="tab">即将进行{{ acts_now | length }}</a></li>
      <li data-id="past" class="timing"><a href="#past" data-toggle="tab">往期回顾 {{ acts_off | length }}</a></li>
      <li data-id="all" class="timing"><a href="#all" data-toggle="tab">所有公益{{ activities | length }}</a> </li>
    </ul>

    <div class="tab-content">
      <div id="future" class="tab-pane fade active in">
        {% include 'home_activities.html' with activities=acts_now %}
      </div>

      <div id="past" class="tab-pane fade">
        {% include 'home_activities.html' with activities=acts_off %}
      </div>

      <div id="all" class="tab-pane fade">
        {% include 'home_activities.html' with activities=activities %}
      </div>
    </div>

  </div>

</div>

<script src="/js/home.js"> </script>

{% endblock %}
