<div class="activities-template">
  {% for activity in activities %}
    <div class="acts">
      <a href="/details/{{ activity.id }}">
        <div class="acts_img">
          <img src="{{ activity.post }}" alt="活动封面">
        </div>
        <div class="acts_info">
          <div class="p_message">
            <p class="act_title">{{ activity.name }}</p>
            <p>{{ activity.start_time }}</p>
            <p>{{ activity.location }}</p>
            <p></p>
            <p>{{ activity.concern | length }} 人关注    {{ activity.participate | length }} 人参加</p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

<ul class="pagination">
  <li><a href="#" data-id="0" class="paging">«</a></li>
  <li class="active"><a href="#" data-id="1" class="paging">1</a></li>
  <li><a href="#" data-id="2" class="paging">2</a></li>
  <li><a href="#" data-id="3" class="paging">3</a></li>
  <li><a href="#" data-id="4" class="paging">4</a></li>
  <li><a href="#" data-id="5" class="paging">5</a></li>
  <li><a href="#" data-id="-1" class="paging">»</a></li>
</ul>
