<div class="activities-template" style="display:block;">
{% for activity in activities %}
	<div class="acts">
	  <a href="/details/{{ activity.id }}">
	    <img src="{{ activity.post }}" alt="活动封面"/>
	  </a>
	  {% block item_context %}
	  <p>NULL</p>
	  {% endblock %}
	</div>
{% endfor %}
</div>

<ul class="pagination">
<li class="previous disabled"><a href="#" data-id="0">«</a></li>
<li class="active"><a class="paging" href="#" data-id="1">1</a>
<li class="active"><a class="paging" href="#" data-id="2">2</a>
<li class="active"><a class="paging" href="#" data-id="3">3</a></li>
<li class="next disabled"><a href="#" data-id="-1">»</a></li>
</ul>
