<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-样式路径得更改->
<link href="/css/post_comment.css" rel="stylesheet" type="text/css" />
<div id="comment_background">
    <div>
        
        <!-{{comment.pageNumber}}->
        <span class="text_attr" id="comment_number">共{{ comments | length }}条评论</span>
    </div>
    <div id="comment_area">
        <span id="text">发表评论</span><br />
        <form method="post" action="/service/details/makeComment/{{ activity.id }}">
          {% csrf_token %}
        <textarea class="form-control" name="content"></textarea><br />
        <button id="sumbit" class="btn btn-default" type="sumbit">评论</button>
      </form>
    </div>
</div>
