{% extends 'base.html' %}

{% block title %}Sign in{% endblock %}

{% block content %}
	<link rel="stylesheet/less" type="text/css" href="/css/signin.less">

	<div id="content">
		<div id="wrap">
			<div>
				<img src="/img/login.jpg" alt="login_jpg" />
			</div>
			<div>
				<form id="login_form" autocomplete="off" >

					<span>登录 Login</span>
					<img src="/img/user.png">
					<input type="text" id="email" name="email" placeholder="user_email" />
					<span> *</span>
					<img src="/img/password.png">
					<input type="password" id="password" name="password" placeholder="user_password" />
					<span> *</span>
					<input type="submit" value="登 录" />
				</form>
				<a href="signup">还没有账号？点击注册</a>
			</div>
		</div>
	</div>

	<script src="/js/signin.js"></script>
{% endblock %}
